// Catamaran

@font-face {
    font-family: CatLight;
    src: url("../../dist/fonts/Catamaran/Catamaran-Light.ttf");
}

@font-face {
    font-family: CatReg;
    src: url("../../dist/fonts/Catamaran/Catamaran-Regular.ttf");
}

@font-face {
    font-family: CatSB;
    src: url("../../dist/fonts/Catamaran/Catamaran-SemiBold.ttf");
}

@font-face {
    font-family: CatB;
    src: url("../../dist/fonts/Catamaran/Catamaran-Bold.ttf");
}

@font-face {
    font-family: CatEB;
    src: url("../../dist/fonts/Catamaran/Catamaran-ExtraBold.ttf");
}

// Muli

@font-face {
    font-family: MuliLight;
    src: url("../../dist/fonts/Muli/Muli-Light.ttf");
}

@font-face {
    font-family: MuliReg;
    src: url("../../dist/fonts/Muli/Muli-Regular.ttf");
}

@font-face {
    font-family: MuliSB;
    src: url("../../dist/fonts/Muli/Muli-SemiBold.ttf");
}

@font-face {
    font-family: MuliB;
    src: url("../../dist/fonts/Muli/Muli-Bold.ttf");
}

@font-face {
    font-family: MuliEB;
    src: url("../../dist/fonts/Muli/Muli-ExtraBold.ttf");
}